{% extends 'AppBcs/base.html' %}
{% load static %}

{% block titulo %}Eliminar Periférico{% endblock %}

{% block contenidoQueCambia %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Eliminar Periférico</h2>
    <p>¿Estás seguro de que quieres eliminar el periférico "{{ object.nombre }}"?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="text-center">
            <input type="submit" class="btn btn-danger" value="Eliminar">
            <a class="btn btn-secondary" href="{% url 'ListarPerifericos' %}">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
