{% extends 'AppBcs/base.html' %}
{% load static %}

{% block titulo %}Crear Funko{% endblock %}

{% block contenidoQueCambia %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Crear Funko</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Crear Funko</button>
    </form>
    <a href="{% url 'ListarFunkos' %}" class="btn btn-secondary mt-3">Volver al Listado</a>
</div>
{% endblock %}
